/* Font stack. Family names are generic so the CSS isn't coupled to any one
   foundry. Files are self-hosted in /fonts/. Replace with your own licensed
   files if you fork this project. */

@font-face {
  font-family: "Display";
  src: url("/fonts/display-900.otf") format("opentype");
  font-weight: 900;
  font-display: swap;
}
@font-face {
  font-family: "Sans";
  src: url("/fonts/sans-400.otf") format("opentype");
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "Sans";
  src: url("/fonts/sans-600.otf") format("opentype");
  font-weight: 600;
  font-display: swap;
}
@font-face {
  font-family: "Mono";
  src: url("/fonts/mono-400.otf") format("opentype");
  font-weight: 400;
  font-display: swap;
}
